
#main-navbar {
  background-color: blue;
  float: center;
  overflow: hidden;
}

#navbar-container {
width: 10%;
align-content: center;
}

#main-navbar ul {
margin: 0;
padding: 0;
position: relative;
align-content: center;
justify-content: center;
display: flex;
}

#main-navbar ul li {
display: block;
color: #fff;
align-content: center;
}

#main-navbar ul li a {
  padding: 10px 20px;
  display: block;
  color: #fff;
}

#main-navbar ul li a:hover {
  background-color: #000;
}

#onpage{
  text-decoration: underline overline;
}

body {
	font-size: 20px;
	color: black;
	list-style-type: none;
	clear: both;
	font-family: "Times New Roman", Times, serif;
      
}

h1,h2,h3 {
	font-family: Arial, Helvetica, sans-serif;
	align-content: center;
}