#main-navbar {
  background-color: rgb(227,185,127);
  overflow: hidden;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

#navbar-container {
width: 100%;
align-content: center;
display: inline-block;
}

#main-navbar ul {
margin: 0;
padding: 0;
position: relative;
align-content: center;
justify-content: center;
display: flex;
}

#main-navbar ul li {
display: block;
color: #fff;
align-content: center;
display: inline-block;
}

#main-navbar ul li a {
  padding: 10px 20px;
  display: block;
  color: rgb(52,56,61);
  display: inline-block;
}

#main-navbar ul li a:hover {
  color: white;
  background-color: #000;
}

#onpage{
  text-decoration: underline overline;
}

body {
	font-size: 20px;
	color: rgb(191,200,214);
	list-style-type: none;
	clear: both;
	font-family: "Times New Roman", Times, serif;
  background-color: rgb(26,36,54);
      
}

h1,h2,h3 {
	text-align: center;
}

section {
  text-align: center;
}

footer {
  text-align: center;
}

#main-paragraph {
  border: 2px rgb(227,185,127) solid;
  padding: 10px;
  margin: 10px;
}

#exploring-sentence {
  border: 2px rgb(227,185,127) solid;
  padding: 15px;
  margin: 15px;
}

#contact-in {
  border: 2px rgb(227,185,127) solid;
  padding: 10px;
  margin: 10px;
}

#education-line {
  border: 2px rgb(227,185,127) solid;
  padding: 10px;
  margin: 10px;
}

#language-line {
  border: 2px rgb(227,185,127) solid;
  padding: 10px;
  margin: 10px;
}

#work-life {
  border: 2px rgb(227,185,127) solid;
  padding: 10px;
  margin: 10px;
}

#about-me {
  border: 2px rgb(227,185,127) solid;
  padding: 10px;
  margin: 10px;
}

